/* google font "work sans" import link  */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* reset default style form all elements */
* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* common or shared styles  */
body {
  font-family: "Work Sans", sans-serif;
}

main > section,
footer {
  margin-top: 108px;
}

.container {
  width: 1195px;
  margin: 0 auto;
}

.display-flex {
  display: flex;
}

.text-center {
  text-align: center;
}

/* dark-1 */
.text-primary {
  color: rgba(19, 19, 19, 1);
}

/* dark-2 */
.text-secondary {
  color: rgba(114, 114, 114, 1);
}

/* dark-3 */
.text-gray {
  color: rgba(114, 114, 114, 1);
}

.title {
  font-size: 2.35rem;
  font-weight: 700;
  line-height: 2.75rem;
}

.description {
  font-size: 1rem;
  line-height: 1.34rem;
  margin-top: 20px;
}

.btn-primary {
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-size: 1.05rem;
  font-weight: 600;
  line-height: 1.2rem;
  padding: 17.5px 20.8px;
  border: 1px solid rgb(255, 144, 14);
  border-radius: 8px;
  background: rgb(255, 144, 14);
  margin-top: 26.6px;
}

.text-highlight {
  color: rgba(255, 144, 14, 1);
}

/* header section styles  */
header {
  padding: 41.5px 0 37.5px;
  background-color: rgba(255, 144, 14, 0.1);
}

/* nav section styles  */
nav {
  justify-content: space-around;
  align-items: center;
}

nav .brand-name {
  font-size: 2.34rem;
  font-weight: 700;
  line-height: 2.75rem;
}

nav .navbar {
  gap: 50px;
}

nav .navbar .nav-link {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.34rem;
}

/* banner section styles  */
#banner {
  margin-top: 85px;
}

#banner .banner-content {
  max-width: 720px;
  margin: 0 auto;
  text-align: center;
}

#banner .banner-image-container {
  margin-top: 41.5px;
}
#banner .banner-image {
  width: 100%;
  border-radius: 8px;
}

/* team section styles  */
#team {
  align-items: center;
  gap: 60.6px;
}

#team .team-group-image {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

#team .team-group-image img {
  width: 100%;
}

#team .feature-lookup {
  max-width: 446px;
}
#team .feature-lookup #text-quick {
  font-weight: 500;
}

/* feature section styles  */
#feature {
  justify-content: space-between;
  gap: 45px;
}

.feature-content-container,
.feature-image {
  width: 45%;
}

#feature .feature-content-container .title {
  padding-left: 17.5px;
  border-left: 5px solid rgba(255, 144, 14, 1);
}

#feature .feature-card {
  margin-top: 25px;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  background: rgb(255, 255, 255);
}

#feature .feature-card .description {
  margin-top: 8px;
}

#feature .feature-image img {
  width: 100%;
}

#feature .badge {
  color: rgb(255, 255, 255);
  width: 284px;
  padding: 38px 35px;
  border-radius: 8px;
  text-align: center;
  background-color: rgba(255, 144, 14, 1);
  position: relative;
  top: -64px;
  left: -76.4px;
}

#feature .badge .exp-time {
  font-size: 3.375rem;
  font-weight: 700;
  line-height: 3.625rem;
  margin-bottom: 8px;
}

#feature .badge .exp {
  font-size: 1.34rem;
  font-weight: 500;
  line-height: 2.1rem;
}

/* facts section styles  */
#facts .description {
  max-width: 75%;
}

#facts .fact-cards {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  align-items: center;
}

#facts .fact-cards .card-fact {
  width: 202px;
  height: 202px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(255, 144, 14);
  border-radius: 8px;
}
#facts .fact-cards .card-fact .card-points {
  font-size: 2.33rem;
  font-weight: 600;
  line-height: 2.75rem;
  margin-top: 12px;
}
#facts .fact-cards .card-fact .card-fact-title {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.2rem;
  margin-top: 12px;
}

/* sponsor section styles  */
#sponsor .sponsor-cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 60px;
}

#sponsor .sponsor-cards > img {
  filter: grayscale(1);
}

/* footer section styles  */
footer {
  padding: 33.2px;
  border-radius: 8px;
  background-color: rgba(255, 244, 231, 1);
}

footer .description {
  margin-top: 0;
}

/* responsive styles  */
/* xs devices  */
@media screen and (max-width: 575.98px) {
  header,
  main,
  footer {
    padding-left: 20px;
    padding-right: 20px;
  }

  main > section,
  footer {
    margin-top: 80px;
  }

  .container {
    width: 100%;
  }

  .btn-primary {
    padding: 13.5px 20.8px;
    margin-top: 20px;
  }

  .description {
    text-align: justify;
  }

  /* nav section styles  */
  nav {
    text-align: center;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
  }

  nav .navbar {
    flex-direction: column;
    gap: 10px;
  }
  nav .navbar .nav-item {
    padding: 6px;
    border: 0.5px solid #131313;
    border-radius: 5px;
    background-color: rgba(255, 228, 196, 0.589);
    transition: all 0.3s;
  }

  nav .navbar .nav-item:hover {
    background-color: beige;
  }
  nav .navbar .nav-link {
    color: #131313;
  }

  /* banner section styles  */
  #banner {
    margin-top: 65px;
  }

  #banner .banner-content {
    width: 100%;
  }

  /* team section styles  */
  #team {
    flex-direction: column-reverse;
    gap: 35px;
  }

  #team .team-group-image {
    grid-template-columns: 1fr;
  }

  #team .feature-lookup {
    max-width: 100%;
    text-align: center;
  }

  /* feature section styles  */
  #feature {
    flex-direction: column;
    gap: 45px;
  }

  .feature-content-container,
  .feature-image {
    width: 100%;
  }

  #feature .badge {
    width: 100%;
    padding: 25px 20px;
    position: static;
  }

  #feature .badge .exp-time {
    font-size: 2.5rem;
    margin-bottom: 5px;
  }

  /* facts section styles  */
  #facts .description {
    max-width: 100%;
  }

  #facts .fact-cards {
    margin-top: 50px;
    gap: 20px;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  /* sponsor section styles  */
  #sponsor .sponsor-cards {
    grid-template-columns: 1fr;
    gap: 20px;
    justify-items: center;
  }
}

/* sm devices  */
@media screen and (min-width: 576px) and (max-width: 767.98px) {
  main > section,
  footer {
    margin-top: 90px;
  }

  .container {
    width: 540px;
  }

  .description {
    text-align: justify;
  }

  /* nav section styles  */
  nav {
    text-align: center;
    flex-direction: column;
    gap: 18px;
  }

  /* banner section styles  */
  #banner {
    margin-top: 70px;
  }

  #banner .banner-content {
    width: 100%;
  }

  /* team section styles  */
  #team {
    flex-direction: column-reverse;
    gap: 40px;
  }

  #team .feature-lookup {
    text-align: center;
    max-width: 100%;
  }

  /* feature section styles  */
  #feature {
    flex-direction: column;
    gap: 45px;
  }

  .feature-content-container,
  .feature-image {
    width: 100%;
  }

  #feature .badge {
    width: 100%;
    padding: 25px 20px;
    position: static;
  }

  #feature .badge .exp-time {
    font-size: 2.5rem;
    margin-bottom: 5px;
  }

  /* facts section styles  */
  #facts .description {
    max-width: 100%;
  }

  #facts .fact-cards {
    margin-top: 50px;
    gap: 20px;
    grid-template-columns: 1fr;
    justify-items: center;
    justify-content: flex-end;
  }

  /* sponsor section styles  */
  #sponsor .sponsor-cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
  }
}

/* md devices  */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  main > section,
  footer {
    margin-top: 100px;
  }

  .container {
    width: 720px;
  }

  .invisible {
    visibility: hidden;
  }

  /* nav section styles  */
  nav {
    flex-direction: column;
    gap: 18px;
  }

  /* team section styles  */
  #team {
    flex-direction: column-reverse;
    gap: 45px;
  }

  #team .feature-lookup {
    max-width: 75%;
  }

  /* feature section styles  */
  #feature {
    flex-direction: column;
    gap: 45px;
  }

  .feature-content-container,
  .feature-image {
    width: 100%;
  }

  #feature .badge {
    width: 100%;
    padding: 25px 20px;
    position: static;
  }

  #feature .badge .exp-time {
    font-size: 2.5rem;
    margin-bottom: 5px;
  }

  /* facts section styles  */
  #facts .description {
    max-width: 100%;
  }

  #facts .fact-cards {
    margin-top: 65px;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }

  /* sponsor section styles  */
  #sponsor .sponsor-cards {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-items: center;
  }
}

/* lg devices  */
@media screen and (min-width: 992px) and (max-width: 1199.98px) {
  .container {
    width: 960px;
  }

  /* team section styles  */
  #team {
    gap: 50px;
  }

  /* feature section styles  */
  #feature {
    align-items: center;
    gap: 45px;
  }

  #feature .badge {
    left: 100px;
  }

  /* facts section styles  */
  #facts .fact-cards {
    margin-top: 70px;
    gap: 20px;
    justify-items: center;
  }

  /* sponsor section styles  */
  #sponsor .sponsor-cards {
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    justify-items: center;
  }
}

/* xl devices  */
@media screen and (min-width: 1200px) and (max-width: 1399.98px) {
  .container {
    width: 1140px;
  }

  /* team section styles  */
  #team {
    gap: 55px;
  }
}

/* xxl devices  */
@media screen and (min-width: 1400px) {
}
